# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs

weChat\inMemTools\DLLIN\.vs
weChat\inMemTools\DLLIN\Debug
weChat\inMemTools\DLLIN\DLLIN\Debug



weChat/inMemTools/DLLIN/.vs
weChat/inMemTools/DLLIN/Debug
weChat/inMemTools/DLLIN/DLLIN/Debug


weChat/inMemTools/WT2/WT2/.vs
weChat/inMemTools/WT2/WT2/Debug

weChat\inMemTools\WT2\WT2\.vs
weChat\inMemTools\WT2\WT2\Debug
weChat/inMemTools/WT2/WT2/WT2/Debug
weChat\inMemTools\WT2\WT2\WT2\Debug
